---
import { menuMain } from "~/data/menus";
const currentYear = new Date().getFullYear();
import { siteName } from "~/data/config";
import { Image } from "astro:assets";
import FooterLogo from "~/assets/logo copy.png";
---

<footer class="bg-brand-dark text-white">
	<div class="container pt-16 pb-8">
		<div class="flex justify-center">
			<Image src={FooterLogo} alt="Gourmet Deli & Catering Company" width={250} height={100} class="h-24 w-auto" />
		</div>
		<nav class="flex flex-col sm:flex-row items-center justify-center gap-x-12 gap-y-3 font-medium mt-6" aria-label="Footer">
			{
				menuMain.map((item) => (
					<a href={item.url} class="hover:underline">
						{item.name}
					</a>
				))
			}
		</nav>
		<p class="mt-10 text-center text-sm">&copy; {currentYear} {siteName}. All rights reserved. <a class="underline" href="/privacy-policy">Privacy policy</a></p>
	</div>
</footer>
